:root {
	--primary-color: rgb(242, 244, 181);
	--secondary-color: rgb(243, 182, 60);
	--pedido: rgb(78, 39, 39);
	--producto: rgb(164, 49, 52);
	--footer: rgb(74, 100, 46);
}

* {
	/*border: 1px solid orange;*/
	margin: 0;
	padding: 0;
}

body {
  background-color: var(--primary-color);
  font-family: 'Hind', sans-serif;
}

header { 
	background-color: var(--secondary-color);
	height: 20vh;
	text-align: center;
	width: 100%;
}

header h1 {
	display: inline-block;
	font-size: 46px;
	margin-top: 29px;
}

h2 {
	font-size: 30px;
	text-align: center;
}

main {
	width: 100%;
}

form {
  font-size: 20px;
}

.orden {
  box-sizing: border-box;
  background-color: var(--pedido);
  display: inline-block;
  margin: auto;
  vertical-align: top;
  width: 60%;
}

#label-jake {
  background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url('img/jake.png');
}

#label-galilea {
  background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url('img/galilea.jpeg');
}

#label-maribel {
  background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url('img/maribel.jpeg');
}

#label-lucero {
  background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url('img/lucero.jpeg');
}

#label-libertad {
  background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url('img/libertad.jpeg');
}

#label-reto {
  background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url('img/reto.jpeg');
}

.torta-card {
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  box-shadow: 2px 3px 5px 0px black;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 200px;
  margin: 20px;
  padding: 60px 0;
  transition: all .4s;
  width: 200px;
  vertical-align: top;
}  

.torta-card-reto {
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  box-shadow: 2px 3px 5px 0px black;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  height: 250px;
  margin: 20px;
  padding: 60px 0;
  transition: all .4s;
}  

.torta-card:hover, .torta-card-reto:hover {
  transform: scale(1.05);
}

.torta-card:active, .torta-card-reto:active {
  border: 5px solid var(--footer);
  transform: scale(1.03);
}

.torta-card.active, .torta-card-reto.active{
  border: 5px solid var(--footer);
  transform: scale(1.03);
  box-shadow: none;
}

.radio-input {
  display: none;
}    

.torta-card_flavor {
  color: white;
  font-family:Lato;
  font-size: 40px;
  text-align: center;
}

.torta-card_info {
  color: white;
  font-family:Lato;
  font-size: 20px;
  margin: 20px 0;
  text-align: center;
}

.revisar-pedido {
	box-sizing: border-box;
	background-color: var(--producto);
	display: inline-block;
  text-align: justify;
	vertical-align: top;
	width: 40%;
}

.pedido {
	background-color: var(--primary-color);
	display: inline-block;
	height: 80vh;
	width: 100%;
}

.nueva-comanda {
	background-color: var(--secondary-color);
	display: inline-block;
}

.nueva-comanda img {
  width: 150px;
}

footer {
	background-color:var(--footer);
	display: inline-block;
	height: 20vh;
	width: 100%
}